.Toastify__toast-container {
  width: 320px;
}
.Toastify__toast--default {
  background: #fff;
  color: #aaa;
}
.Toastify__toast--info {
  background: #3d76db;
}
.Toastify__toast--success {
  background: #55bc4f;
}
.Toastify__toast--warning {
  background: #edf161;
  color: #343434;
}
.Toastify__toast--error {
  background: #e77763;
}
